<p>{{ title }}</p>
<main class="container" *ngIf="!formVisible">
  <button mat-raised-button color="primary"  class="assignment-add" (click)="switchForm()">Add</button>
  <div class="list">
  <mat-list *ngFor="let assignment of assignments">
    <h3 mat-subheader>{{ assignment.dateDeRendu | date }}</h3>
    <mat-list-item>
      @if (assignment.rendu) {
        <p appRender>Devoir intitulé {{ assignment.nom }} a été rendu.</p>
      } @else {
        <p appNotRender>Devoir intitulé {{ assignment.nom }} n'a pas été rendu.</p>
      }
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-action-list>
      <nav>
        <a href="#" (click)="onSelect(assignment.id)">View</a>
      </nav>
    </mat-action-list>
  </mat-list>
  </div>
  <div class="detail">
    <app-assignment-detail></app-assignment-detail>
  </div>
</main>

<app-add-assignment *ngIf="formVisible" (assignmentCreate) = "onCreated()" ></app-add-assignment>

